services:

  # Appサーバ
  laravel-app-server:
    build: ./docker-config/php
    container_name: laravel-app-server
    ports:
      - '8000:8000'
    extra_hosts:
      - "host.docker.internal:172.25.199.83"
    volumes:
      - ./src:/var/www/html
      - ./docker-config/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
